body {
  color: #fff;
  background-color: #eee;
}

.bg {
  background: url("../img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  border-bottom: #fff 3px solid;
  opacity: 0.8;
}

#home-section {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
}

#about-us {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
}

.card {
  background: rgba(255, 255, 255, 0.58);
}

#map {
  height: 400px;
  width: 100%;
}

.search {
  position: absolute;
  top: 100px;
  height: 0;
}
